.title{
	top:239px;
	left: 50px;
	position: relative;
	width: 100%;
	height: 20px;
}
.cc_table{
	top: 255px;
	position: relative;
}
.table_title{
	background: #3295F7;
	color: #FFFFFF;
}
.tt_sigle{
	text-align: center;
}

